<div class="d-flex justify-content-center mt-5 align-items-center">
  <div>
    <div class="d-flex justify-content-between align-items-center">
    
      <%= render "articles/search_form" %>
  
      <div class="analyzer">
        <%= link_to 'Analysis', my_searches_path %>
      </div>

    </div>
    <p style="color: green"><%= notice %></p>

    <h1>Articles</h1>

    <div id="articles">
      <% @articles.each do |article| %>
        <%= render article %>
        <p>
          <%= link_to "Show this article", article %>
        </p>
      <% end %>
    </div>

    <%= link_to "New article", new_article_path %>
  </div>
</div>